<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ConnectionCUPIFunctionsTest.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ConnectionCUPIFunctionsTest.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <ConnectionCUPIFunctionsTest.Properties.Settings>
            <setting name="ConnectionServer" serializeAs="String">
                <value>lindborgload3.cisco.com</value>
            </setting>
            <setting name="ConnectionLogin" serializeAs="String">
                <value>CCMAdministrator</value>
            </setting>
            <setting name="ConnectionPW" serializeAs="String">
                <value>ecsbulab</value>
            </setting>
        </ConnectionCUPIFunctionsTest.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <ConnectionCUPIFunctionsTest.Properties.Settings>
            <setting name="ExtensionToDial" serializeAs="String">
                <value>1003</value>
            </setting>
            <setting name="DebugOn" serializeAs="String">
                <value>True</value>
            </setting>
        </ConnectionCUPIFunctionsTest.Properties.Settings>
    </userSettings>
</configuration>